wind_forecasting/run_scripts/lightning_logs/
wind_forecasting/models/.eggs
.vscode
.vscode/launch.json

examples/optuna/*
wind_forecasting/models/spacetimeformer/spacetimeformer/data
wind_forecasting/models/__pycache__
wind_forecasting/preprocessing/__pycache__
wind_forecasting/__pycache__
wind_forecasting/.DS_Store
ting_3_9
wget-log*
output
awaken_data
check_gpu.py
wind_forecasting/wind_forecasting/preprocessing/preprocessing_scada/examples
preprocessing/preprocessing_scada/shapefiles
.identifier
.code-workspace
.ipynb_checkpoints
Miniforge3-Linux-x86_64.sh
wind_forecasting.egg-info
wind_forecasting/preprocessing/preprocessing_scada/.ipynb*
examples/data
examples/postprocessed
examples/other
examples/inputs/awaken_data
examples/checkpoints/
examples/logging/
examples/logging/*
examples/logging/wandb/*
examples/logging/wandb/latest_run/*
wandb/
wind-forecasting.code-workspace
wind_forecasting/preprocessing/.ipynb_checkpoints
lut/

.DS_Store
wind_forecasting/models/.DS_Store
wind_forecasting.code-workspace

*.log
*.csv
*.err
*.out
*.png
*.nc
*.pyc
*.dbf
*.wandb
*.egg-info
*.zip
*.parquet
*.dat

examples/data/*
.vscode/


wind_forecasting/preprocessing/.ipynb_checkpoints/
*.sh.vscode/launch.json
examples/logging/wandb examples/logging/wind_forecasting
