run_scripts/lightning_logs
wind_forecasting/models/.eggs
wind_forecasting/models/*.egg-info
wind_forecasting.egg-info
wind_forecasting/models/__pycache__
lut
ting_3_9
wget-log*
output
awaken_data
check_gpu.py
preprocessing/preprocessing_scada/examples
preprocessing/preprocessing_scada/shapefiles
.identifier
examples

*.log
*.csv
*.err
*.out
*.png
