wind_forecasting/run_scripts/lightning_logs/
wind_forecasting/models/.eggs
.vscode

wind_forecasting/models/__pycache__
wind_forecasting/preprocessing/__pycache__
wind_forecasting/__pycache__
wind_forecasting/.DS_Store
ting_3_9
wget-log*
output
awaken_data
check_gpu.py
preprocessing/preprocessing_scada/examples
preprocessing/preprocessing_scada/shapefiles
.identifier
.code-workspace
Miniforge3-Linux-x86_64.sh
wind_forecasting.egg-info
preprocessing/preprocessing_scada/.ipynb*
examples/data
examples/postprocessed
examples/other
examples/inputs/awaken_data
wind-forecasting.code-workspace

.DS_Store
wind_forecasting/models/.DS_Store
wind_forecasting.code-workspace

*.log
*.csv
*.err
*.out
*.png
*.nc
*.pyc
*.egg-info

examples/data/*
.vscode/
